/**************Account*************/

.account-page {
    /* margin-top: 165px; */
    padding: 40px 0 120px;
  }
  
  .account-page .wrapper-account {
    max-width: 656px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
  }
  
  .account-page .content {
    padding: 32px;
    border-radius: 12px;
    background-color: #f6f5f7;
  }
  .account-page .content a.link-form {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #4a4080;
    display: block;
    margin-top: 16px;
    text-decoration: underline;
    text-decoration-color: #cac7d9;
    text-underline-offset: 4px;
  }
  .account-page .content .btn {
    width: 100%;
  }
  
  .account-page .title {
    font-size: 42px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: -1.26px;
    text-align: left;
    color: #2d2b33;
    margin-bottom: 24px;
  }
  
  .account-page .btn {
    outline: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    height: 56px;
    background: rgb(74, 64, 128);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    padding: 16px 24px;
    white-space: nowrap;
    letter-spacing: 0.8px;
  }
  
  .account-page .btn:hover,
  .account-page .btn:focus {
    background-color: #2a2640;
    -webkit-box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4),
      0px 4px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .account-page .form-group label {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #4d4c54;
    margin-bottom: 8px;
    display: block;
  }
  
  .account-page .form-group {
    margin-bottom: 16px;
  }
  
  .account-page .form-group input {
    padding: 16px;
    border-radius: 6px;
    border: solid 1px rgba(110, 110, 135, 0.2);
    background-color: #fff;
    height: 44px;
    width: 100%;
  }
  @media(max-width:840px){
    .account-page .title {
      font-size: 36px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.15;
      letter-spacing: -0.72px;
      margin-bottom: 24px;
    }
  }
  /*signingin-page*/

/*signingin-page*/
.signingin-page {
    position: relative;
    overflow: hidden;
  }
  
  .signingin-page::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.6);
    z-index: 1000;
  }
  
  .signingin-page::before {
    content: 'Signing In...';
    position: absolute;
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.21px;
    text-align: left;
    color: #2d2b33;
    width: 179px;
    height: 73px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 24px 32px;
    border-radius: 40px;
    background-color: #fbd927;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1001;
  }