.filter-page-product {
  background: rgb(245, 245, 247);
}
.Page-Title {
    align-self: stretch;
    flex-grow: 0;
    font-family: Geist;
    font-size: 42px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: -1.26px;
    text-align: left;
    color: #2d2b33;
  }
  
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }
  .card-space{
    gap: 40px;
    /* padding: 40px 40px 120px; */
  }
  nav {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 0;
  }
.Account-Tab {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 16px 24px;
    border-radius: 12px;
    max-width: 322px;
    
  }
.active-tab{
    background-color: #fbd927;
}
.sidebar-label{
        flex-grow: 1;
        font-family: Geist;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #4d4c54;
}
img.User-Interface-Arrow-Right {
    flex-grow: 0;
    object-fit: contain;
  }
img.User-Interface-Star {
    flex-grow: 0;
    object-fit: contain;
  }
  .Order-History-parent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 20px 0px 120px 0px;
  }
  .Full-Width{
    width: 100%;
  }
  .Page-Title-Right{
    align-self: stretch;
    flex-grow: 0;
    font-family: Geist;
    font-size: 28px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.84px;
    text-align: left;
    color: #2d2b33;
  }
  .Button-CTA-AddAddress-FW{
    display: none;
  }

.Col-3 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 40px 0px 0px 40px;
    min-width: 322px;
  }

  .Two-Column-1 {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding: 0;
  }
  .Order-History {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 0;
  }
  .select {
    position: relative;
    display: block;
    min-width: 200px;
    height: 44px;
}
.select input{
  position: relative;
  display: block;
  min-width: 200px;
  height: 44px;
}

.select select:required:invalid {
    color: #5a667f;
}

.select select {
    -webkit-appearance: none;
    padding: 10px 40px 10px 12px;
    width: 100%;
    border: 1px solid rgba(110, 110, 135, 0.2);
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px -2px #9098a9;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    background-image: url("data:image/svg+xml,%3C%3Fxml version=%271.0%27 encoding=%27utf-8%27%3F%3E%3C%21-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width=%27800px%27 height=%27800px%27 viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z%27 fill=%27%232D2B33%27/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 24px 24px;
}
.btn {
  outline: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  height: 56px;
  background: rgb(74, 64, 128);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  padding: 16px 24px;
  white-space: nowrap;
  letter-spacing: 0.8px;
  width: 100%;
}
.filter-cards-view.grid-view-filter {
    display: -ms-grid;
    display: grid;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-gap: 0;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    row-gap: 40px;
    width: 100%;
}
.filter-cards-view {
    padding-top: 32px;
    max-width: 1014px;
    padding-bottom: 180px;
    position: relative;
    margin-left: auto;
}
.filter-cards-view .pagination {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);
}
.filter-cards-view .pagination ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
}
.filter-cards-view .pagination ul li.active {
    background-color: rgb(251, 217, 39);
    border: 1px solid rgb(251, 217, 39);
}
.filter-cards-view .pagination ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 36px;
    height: 40px;
    gap: 10px;
    font-size: 18px;
    line-height: 26px;
    color: #4d4c54;
    border-radius: 6px;
    border: 1px solid rgba(110, 110, 135, 0.2);
    cursor: pointer;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.filter-cards-view .pagination ul li.dott {
    border: 0;
}
.filter-cards-view .pagination ul li.arrow {
    background-image: url("data:image/svg+xml,%3Csvg fill=%27%234a4080%27 height=%27200px%27 width=%27200px%27 version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27 viewBox=%270 0 330 330%27 xml:space=%27preserve%27 stroke=%27%234a4080%27%3E%3Cg id=%27SVGRepo_bgCarrier%27 stroke-width=%270%27%3E%3C/g%3E%3Cg id=%27SVGRepo_tracerCarrier%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27%3E%3C/g%3E%3Cg id=%27SVGRepo_iconCarrier%27%3E%3Cpath id=%27XMLID_222_%27 d=%27M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001 c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213 C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606 C255,161.018,253.42,157.202,250.606,154.389z%27%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 12px;
    border: 0;
}
  .Orders {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 0;
  }
  .Order-Tiles {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 0;
  }
  .Order-Card {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 32px;
    border-radius: 8px;
    background-color: #ededf0;
    /* max-width: 1014px; */
  }
  .Frame-11394 {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 0;
  }
  .Frame-11393 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 0;
  }
  .Two-Column {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
  }
  .Col-1 {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: max-content;
  }
  .Each-Price {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    padding: 0;
  }
  .Each {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  .detail-label{
 
    flex-grow: 0;
    font-family: Geist;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #2d2b33;
  
}
.Price {
  align-self: stretch;
  flex-grow: 0;
  font-family: Geist;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #2d2b33;
}
.Order-No-card {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
  padding: 0;
  min-width: 200px;
}
.Order-No-Wrapper {
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}
.Order-No-label{

  flex-grow: 0;
  font-family: Geist;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #2d2b33;

}
.Order-No-Val {
align-self: stretch;
flex-grow: 0;
font-family: Geist;
font-size: 14px;
font-weight: 600;
font-stretch: normal;
font-style: normal;
line-height: 1.25;
letter-spacing: normal;
text-align: left;
color: #2d2b33;
}
.Frame-11392 {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0;
  }
  .Button-CTA {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 6px;
    border: solid 1px rgba(110, 110, 135, 0.2);
  }
  .btn-view-details-label {
    flex-grow: 0;
    font-family: Geist;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.7px;
    text-align: center;
    color: #2d2b33;
    text-transform: uppercase;
    width: max-content;
  }
  .Button-CTA-Reorder {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 6px;
    background-color: #4a4080;
  }
  .btn-reorder-label{
    flex-grow: 0;
    font-family: Geist;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.7px;
    text-align: center;
    color: #fff; 
    text-transform: uppercase;
    width: max-content;
}
.Form-Input-Field-Details-md{
    
    align-self: stretch;
    flex-grow: 0;
    align-items: stretch;
    border-radius: 12px;
    border: solid 1px rgba(110, 110, 135, 0.2);
    margin-bottom: 24px;
}
.Form-Input-Sidebar-md{
    
    align-self: stretch;
    flex-grow: 0;
    align-items: stretch;
    border-radius: 12px;
    border: solid 1px rgba(110, 110, 135, 0.2);
    margin-bottom: 24px;
}
.mobile-view{
    display: none;
  }
  .Filter-mobile-view{
    display: none;
  }
  .Filter-Sort {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
  }
  .Filter {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 26px;
    padding: 0;
  }
  .Form-Input-Field-Details {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 16px;
    border-radius: 6px;
    
  }
  .Form-Input-Field-Details.dropdown.inactive .Form-Input-Field-Inactive-Dropdown {
    background-color: #fff;
  }
  
  .Form-Input-Field-Details.dropdown.inactive .StateInactive-Field-TypeDropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px 0 0;
    padding: 10px 16px;
    border-radius: 6px;
    border: solid 1px rgba(110, 110, 135, 0.2);
    background-color: #fff;
  }
  
  .Form-Input-Field-Details.dropdown.inactive label {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    padding: 0;
  }
  
  .Form-Input-Field-Details.dropdown.inactive label {
    flex-grow: 0;
    font-family: Geist;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #2d2b33;
  }
  
  .Form-Input-Field-Details.dropdown.inactive .Required {
    flex-grow: 0;
    font-family: Geist;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #2d2b33;
  }
  
  .Form-Input-Field-Details.dropdown.inactive input {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 0;
    border-radius: 4px;
  }
  
  .Form-Input-Field-Details.dropdown.inactive .Placeholder {
    flex-grow: 1;
    font-family: Geist;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #6c6b74;
  }
  
  .Form-Input-Field-Details.dropdown.inactive img.User-Interface-Chevron-Down {
    flex-grow: 0;
    object-fit: contain;
  }
  .Button-CTA-filter{
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 6px;
    border: solid 1px rgba(110, 110, 135, 0.2);
    margin-bottom: 12px;
  }

  .btn-view-details-label {
    flex-grow: 0;
    font-family: Geist;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.7px;
    text-align: center;
    color: #2d2b33;
    text-transform: uppercase;
    width: max-content;
  }
  .btn-reorder-label{
        flex-grow: 0;
        font-family: Geist;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.7px;
        text-align: center;
        color: #fff; 
        text-transform: uppercase;
        width: max-content;
  }
  .Button-CTA-Reorder {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 6px;
    background-color: #4a4080;
  }
.Start-Date-Align{
  padding: 10px 0px !important;
}
@media screen and (max-width: 1200px) {
    .My-List{
        display: none;
    }
    .Col-1 {
        align-self: stretch;
        flex-grow: 0;
        display: inline;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        gap: 24px;
        width: fit-content;
    }
   .Frame-11394 {
      align-self: stretch;
      flex-grow: 0;
      display: inline-grid;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 40px;
      padding: 0;
  }

  .mobile-view{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .Filter-mobile-view {
    display: block;
  }
  .Filter-Sort {
    display: none;
  }
  .Price {
    align-self: stretch;
    flex-grow: 0;
    font-family: Geist;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #2d2b33;
  }
  .Order-No-card{
    display: inline-block !important;
    padding: 16px 0px !important;
  }
  .Order-No-Wrapper{
    display: inline-block !important;
  }
  .Order-No-label{
    align-self: stretch;
    flex-grow: 0;
    font-family: Geist;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2d2b33;
  }
  .Order-No-Val{
    align-self: stretch;
    flex-grow: 0;
    font-family: Geist;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2d2b33;
  }

  .Each-Price{
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 4px;
      padding: 0px 0px 16px 0px;
  
  }
  .Frame-11394{
    gap:0px !important;

  }
  .Order-Card{
    padding: 20px;
  }
  .Order-History-parent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 0px 0px 40px 0px;
}
.Button-CTA-filter{
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 6px;
  border: solid 1px rgba(110, 110, 135, 0.2);
  margin-bottom: 0px !important;
}

  .Page-Title-Right{
   display: none;
  }
  .Form-Input-Field-Details-md{
      align-self: stretch;
      flex-grow: 0;
      align-items: stretch;
      border-radius: 12px;
      border: solid 1px rgba(110, 110, 135, 0.2);
  }
  .Form-Input-Field-Details {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0px;
    border-radius: 6px;
  }
  .Col-3 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    padding: 0px 0px 0px 0px;
    min-width: 322px;
}}
.select-date{
    position: relative;
    display: block;
    min-width: 187px;
    height: 44px;
  }

  .select-md select {
    appearance: none;
    padding: 15px 40px 10px 12px;
    width: 100%;
    border: 1px solid rgba(110, 110, 135, 0.2);
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    background-image: url("data:image/svg+xml,%3C%3Fxml version=%271.0%27 encoding=%27utf-8%27%3F%3E%3C%21-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width=%27800px%27 height=%27800px%27 viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z%27 fill=%27%232D2B33%27/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 24px 24px;
}
.sidebar-select-md select {
    appearance: none;
    padding: 15px 40px 10px 12px;
    width: 100%;
    border: 1px solid rgba(110, 110, 135, 0.2);
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
    background-image: url("data:image/svg+xml,%3C%3Fxml version=%271.0%27 encoding=%27utf-8%27%3F%3E%3C%21-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width=%27800px%27 height=%27800px%27 viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z%27 fill=%27%232D2B33%27/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 24px 24px;
    flex-grow: 1;
  font-family: Geist;
  font-size: 21px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.21px;
  text-align: left;
  color: #2d2b33;
}

  .Form-Input-Field {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px 16px;
    border-radius: 12px;
    border: solid 1px rgba(110, 110, 135, 0.2);
    background-color: #fff;
  }
  .CTA-Btn-Inline {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0;
  }
  .CTA-Btn-Row{
      display: -ms-grid;
      display: grid;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      grid-gap: 0;
      grid-template-columns: repeat(2, 1fr); 
      -webkit-column-gap: 24px;
      -moz-column-gap: 24px;
      column-gap: 24px;
      row-gap: 40px;
      width: 100%;
      margin: 24px 0px;
    
  }
  .btn-apply-label{
    flex-grow: 0;
    font-family: Geist;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.7px;
    text-align: center;
    color: #fff; 
    text-transform: uppercase;
    width: max-content;
  }
  .Button-CTA-Apply {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: #4a4080;
  }
 
  nav {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 0;
  }
  .Account-Tab {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 16px 24px;
    border-radius: 12px;
    
  }
.active-tab{
    background-color: #fbd927;
}
.sidebar-label{
        flex-grow: 1;
        font-family: Geist;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #4d4c54;
}
img.User-Interface-Arrow-Right {
    flex-grow: 0;
    object-fit: contain;
  }
img.User-Interface-Star {
    flex-grow: 0;
    object-fit: contain;
  }