.THIS {
    margin-top:10px;
    margin-left:.75rem;
    margin-right:.75rem;
}

.THIS h3 {
    font-size: 1.25em;
    color: var(--lwc-brandAccessible);
}

.THIS h3 a {
    color: var(--lwc-brandAccessible);
}

.THIS.noborder {
    border: none;
  }

.THIS .badge {
  display: inline-block;
  background-color: var(--lwc-brandAccessible);
  color: var(--lwc-colorTextBrandPrimary);
  text-align: center;
  min-width: 70px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

.THIS .badgeAlt {
    display: inline-block;
    background-color: rgb(74, 131, 154);
    color: var(--lwc-colorTextBrandPrimary);
    min-width: 70px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .THIS .weekendSpan{
    margin-left: 2px;
    font-style: italic;
    font-size: 11pt;
    color: rgb(255, 102, 0);
  }