.THIS {
    padding-top:11px;
    float:left;
    color:black;
}

.THIS .bold {
    font-weight:bold;
}

.THIS a {
    color:black !important;
}

.THIS lightning-primitive-icon:nth-child(2) {
    display: none;
}

.THIS lightning-primitive-icon:nth-child(1) svg {
    width: 1.5rem;
    height: 1.5rem;
}



.THIS .slds-dropdown-trigger button {
    background: none;
    border: none;
    color: #fff;
}