.loader-dots {
    /* padding:0.5em 2.2em 0.5em 1em;  */
    border-radius:.3em;
    color:#ffffff;
    display:block; 
    position:fixed; 
    top:50%;
    left:50%;
    transform:translateX(-50%)  translateY(-50%);
    letter-spacing:1px;
    z-index: 9999;
    font-size: 18px;
}

.loader-dots:after { 
    content:'....';
    width:0;
    position:absolute;
    overflow:hidden;
    animation:loader-dots-animation 1s infinite;     
}

@keyframes loader-dots-animation {
    0%   { width:0.0em; }  
    50%  { width:1.2em; }      
    100% { width:0.0em; }    
}

.back-drop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: #000;
    opacity: .65;
  }