:host {
    
}

.sib-header {
    color: #4d4c54;
    font-weight: 400 !important;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 1.5;
}

.sib-padding-25 {
    padding: 25px;
}

.sib-flex-row {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.sib-flex-column {
    display: flex;
    flex-direction: column;
}

.sib-full-width {
    width: 100%;
}

.sib-width-60 {
    width: 60%;
}

.sib-card-info-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.sib-remove-btn-box {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.parent-container{
    padding: 24px 0px 24px 0px;
}