.stencil-card{
    display: flex;
}
.left-stencil{
    width: 60%;
}
.text-1{
    width: 50%;
    padding-top: 16px;
}
.text-2{
    width: 70%;
    padding-top: 16px;
}
.text-3{
    width: 97%;
    padding: 16px 0;
}
.text-4{
    padding-bottom: 16px;
}
.right-stencil{
    width: 40%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.price-stencil, .action-stencil{
    width: 90%;
}
.action-stencil{
    padding-bottom: 16px;
}