aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
  position: relative;
}
img {
    vertical-align: top;
    display: block;
  }
html,
body {
  color: #232222;
  background: #ffffff;
  height: 100%;
  position: relative;
  font-family: "Geist", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
  position: relative;
}
.header .menu .mobile-user .footer-mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }
  
  .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
/**********************Wrapper***********************/
.wrapper {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  .wrapper > main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  
  .wrapper > * {
    min-width: 0;
  }
  /**********************Section Popular Section***********************/
section.section-popular {
    padding: 80px 0;
  }
  
  section.section-popular h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.84px;
  }
  
  section.section-popular a.shop-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    font-weight: 600;
    color: #2d2b33;
    font-size: 18px;
  }
  
  section.section-popular .d-flex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
  }
  
  section.section-popular a.shop-all::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version=%271.0%27 encoding=%27utf-8%27%3F%3E%3C%21-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width=%2716px%27 height=%2714px%27 viewBox=%270 0 16 16%27 xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27%3E%3Cpath fill=%27%234A4080%27 d=%27M8.235 4.045a.75.75 0 111.03-1.09l4.5 4.25a.75.75 0 010 1.09l-4.5 4.25a.75.75 0 01-1.03-1.09L11.364 8.5H2.75a.75.75 0 010-1.5h8.614L8.235 4.045z%27/%3E%3C/svg%3E");
    display: inline;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
  }
  
  section.section-popular a.shop-all span {
    position: relative;
    white-space: nowrap;
  }
  
  section.section-popular a.shop-all span::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: #fbd927;
  }
  
  section.section-popular .d-grid {
    display: -ms-grid;
    display: grid;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-gap: 0;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 25px;
  }
  
  section.section-popular .categories-item {
    min-height: 329px;
    text-align: center;
    border: 1px solid rgba(110, 110, 135, 0.2);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    /*  letter-spacing: -1%; */
  }
  
  section.section-popular .categories-item .categories-img {
    position: relative;
    max-width: 244px;
    width: 100%;
    max-height: 244px;
    min-height: 244px;
    overflow: hidden;
  }
  
  section.section-popular .categories-item img {
    max-width: 244px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
  }
  
  section.section-popular .categories-item h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 25.2px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    letter-spacing: -0.21px;
  }
  
  section.section-popular .categories-item:hover {
    border: 1px solid rgb(251, 217, 39);
    -webkit-box-shadow: 0px 0px 4px 0px rgb(251, 217, 39);
    box-shadow: 0px 0px 4px 0px rgb(251, 217, 39);
  }
  
  @media (max-width: 1180px) {
    section.section-popular .d-grid {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
    }
    section.section-popular .categories-item {
      min-height: auto;
      padding: 10px;
    }
  }
  @media (max-width: 840px) {
    section.section-popular {
      padding: 40px 0;
    }
    section.section-popular h2 {
      font-size: 24px;
      line-height: 28px;
    }
    section.section-popular .d-grid {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      grid-template-columns: repeat(2, 1fr);
    }
    section.section-popular .categories-item h3 {
      font-size: 16px;
      font-weight: 600;
      line-height: 19.2px;
      color: rgb(0, 0, 0);
    }
    section.section-popular .categories-item .categories-img {
      max-width: 147px;
      max-height: 147px;
      min-height: 147px;
    }
  }