.spinnerOverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1001;
    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.submitbutton{
    width: 250px;
    float: right;
}

.customtabset{
    --slds-c-tabs-item-color-border-hover: none;
}